body{
    font-family: 'Poppins', sans-serif;
    margin: 0;
}
h1{
    font-size: 50px;
}
h2{
    font-size: 30px;
}
.text-highlight{
    color: orange;
}
.flexible-container{
    display: flex;
}
.top-left{
    width: 50%;
}
.top-right{
    width: 50%;
}
.top-right img{
    width: 85%;
}
.paddingt{
    padding-left: 8%;
}
p{
    text-align: justify;
}
.herebtn{
    text-decoration: none;
    background-image: linear-gradient(orange, tomato );
    color: white;
    font-weight: 400;
    padding: 10px 40px;
}
.top-section{
    background-image: url(images/top-banner.png);
    background-repeat: no-repeat;
}
.mid-section img{
    width: 115%;
}
.mdiv{
    width: 50%;
    padding: 8%;
}
.mid-section{
    background-image: url(images/dream-bg.png);
    background-repeat: no-repeat;
    background-position: right;
}

.bdip{
    box-shadow: 10px 10px 5px grey;
    width: 40%;
    margin-left: 5%;
    margin-right: 5%;
    padding-left: 25px;
    border-radius: 10px;

    
}
.experiences{
    background-image: url(images/exp-bg.png);
    background-repeat: no-repeat;
    background-position: left;
}
#fsweb{
    border-left: 7px solid;
    border-image: linear-gradient(orange, tomato);
    border-image-slice: 1;
}
#fdmarketing{
    border-left: 7px solid;
   border-image: linear-gradient(blue, cyan);
   border-image-slice: 1;
}